@font-face {
    font-family: QanelasSoft;
    src: local('./font/Qanelas/QanelasSoft.otf');
  }

@font-face {
font-family: QanelasSoft-bold;
src: local('./font/Qanelas/QanelasSoft-ExtraBold.otf');
}

.txtImport {
    font-family: QanelasSoft;
}

.topRow::before{
    margin: auto;
    content:'D';
    display: flex;
    visibility: hidden;
}

.topRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.topRow button {
    margin-left: auto;
    margin-right: 0.5rem;
}

.topRow h1{
    margin-left: -25rem;
}

.centerRow{
    display: flex;
    justify-content: center;
}

.row{
    padding: 0.5em;
}
/* Table Component*/
.dataComponent {
    padding-top:3em;
    justify-content: center;
}
/* Modal Part*/
.modalPart {
    display: flex;

}

.modalClose {
    width:2.5rem;
    margin-left: auto;
}

.modal-header::before {
    margin: auto;
    content:'D';
    display: flex;
    visibility: hidden;
    margin-right:1px;
}

.modal-header{
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    .topRow h1{
        margin-left: 0;
    }
  }

